
    <div class="ft-products">
    <img class="ft-products__image" src="{{ product.image }}" alt="{{ product.name }}">

    <div class="ft-products__url">
    <a href="{{ product.url }}">{{ product.name }}</a></div>
    <div class="ft-products__description"> {{ product.description }}</div>
    <div class="ft-products__price">{{ product.price }}</div>
    <a class="ft-products__detail" href="{{ product.url }}">Detail produktu</a>
    </div>
    
    

