
<div class="ft-text">
<div class="ft-text__description">{% if data.title or data.description or data.text %}</div>
    <div class="ft-text__title">{{ data.title }}</div>
   <p>{{ data.description|raw }}</p> 
    <p>{{ data.text|raw }}</p> 
{% endif %}
</div>