.ft-footer {
    background-color: @color-mine-shaft;
    color: @color-white;
    padding: 3rem;
    font-size: @font-size-5;
    margin: 0;
    margin-top: 3.5rem;
}

.ft-footer a {
    color: @color-white;
    text-decoration: underline;
}

@media (min-width: @bp-lg) {
    .ft-footer {
        float: left;
        width: 100%;
    }
}