.ft-header {
    background-color: @color-mine-shaft;
    padding: 3.5rem;
}

.ft-menu {
    background-color: @color-mine-shaft;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

@media (min-width: @bp-lg) {
    .ft-menu a {
        padding: 3.5rem;
    }
}

@media (min-width: @bp-xl) {
    .ft-menu a {
        padding: 10px;
    }

    .ft-menu {
        padding: 3.5rem; 
        padding-right: 10rem;
    }
    
    .ft-header {
        float: left;
        padding: 2.7rem;
        padding-left: 5rem
    }
}