.ft-products {
    border: 0.2rem solid @color-black;
    padding-top: 2rem;
    margin: 1rem;
    width: 100%;
    min-width: 20rem;
    max-width: 25rem;
    height: 27rem;
}

.ft-products__description,
.ft-products__price {
    padding: 1rem;
}

.ft-products__price {
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 1.5rem;
}

.ft-products__url a {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
}

.ft-products__url {
    padding-top: 1rem;
}

@media (min-width: @bp-lg) {
    .ft-products {
        float: left;
    }
}

@media (min-width: @bp-xl) {
    .ft-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}