.ft-text {
    padding: 1rem;
}

.ft-text__title {
    font-size: @font-size-1;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 3rem; 
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: @bp-xl) {
    .ft-text {
        text-align: start;
        padding: 5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        margin-left: 12%;
        margin-right: 12%;
    }
}